/**
* main css of index.html
*/

::scrollbar{width:6px;height:4px}
::-webkit-scrollbar{width:6px;height:4px}
::-webkit-scrollbar-track{background-color: rgb(245,245,247);}
::-webkit-scrollbar-thumb{background-color: rgb(200,200,200);}
::-moz-scrollbar{width:6px;height:4px}
::-moz-scrollbar-track{background-color: rgb(245,245,247);}
::-moz-scrollbar-thumb{background-color: rgb(200,200,200)}

* {
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
	margin: 0;
	padding: 0;
}
body,html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
.overMain {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
.coverMain {
	flex: 1;
}
.coverMain h1, h2, h3, h4, h5, h6, p, a {
	text-align: center;
	color: #34495e;
}
.coverMain h3 {
	margin-top: 42px;
	margin-bottom: 24px;
}
.coverMain h5 {
	margin-top: 0;
	margin-bottom: 2px;
}
.coverMain div {
	display: flex;
	margin: 0 auto 2px;
	padding-top: 24px;
	width: 352px;
	height: 42px;
	justify-content: space-between;
	align-content: center;
	font-size: 1rem;
}
.coverMain div li {
	list-style-type: none;
	width: 102px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border: 1px solid rgb(66,185,131);
	border-radius: 14px;
	cursor: pointer;
	transition: all .4s;
}
.coverMain div li a {
	transition: color .4s;
}
.coverMain div li:hover {
	color: white;
	background-color: rgb(66,185,131);
}
.coverMain div li:hover a{
	color: white;
}

main {
	font-size: 1rem;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.sidebar {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: 100%;
	border-right: .5px solid #ccc;
	/*padding-bottom: 34px;*/
	overflow-y: auto;
}
.sidebar h1 {
	font-weight: normal;
	font-size: 1.4rem;
	text-align: center;
	color: #505d6b;
}
.sidebar p {
	margin-top: 26px;
}
.sidebar ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: #505d6b;
}
.sidebar ul a {
	width: 100%;
	text-align: left;
	text-decoration: none;
	text-indent: 2rem;
	margin-top: 18px;
	font-size: .9rem;
}
.musicFun {
	width: 100%;
	padding-left: 1.2rem;
}
.musicFun li {
	list-style-type: none;
	width: 100%;
	cursor: pointer;
}
.sidebar ul a:hover {
	text-decoration: underline;
}
.content {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
}
.mark {
	position: relative;
	margin: 0 auto;
	padding: 0 16px 40px;
	text-align: left;
}
.mark h1 {
	font-size: 1.8rem;
	letter-spacing: 2px;
}
.mark h3 {
	text-align: left;
	margin: 12px 0;
}
.mark h2 {
	text-align: left;
	padding-top: 24px;
	padding-bottom: 12px;
	cursor: pointer;
}
.mark h2:hover {
	text-decoration: underline;
}
.mark p {
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
}
.mark div {
	padding-left: 16px;
	background-color: rgb(246,246,246);
}
.mark ul li {
	padding-top: 12px;
	color: #525252;
}
.mark ul li a {
	padding-left: 110px;
	color: #0366d6;
}
.mark ul li i {
	font-weight: bold;
	font-style: normal;
	color: black;
}
.mark ul li span {
	display: block;
	height: 46px;
	line-height: 46px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-indent: 12px;
	color: #525252;
	background-color: rgb(224, 224, 224);
}

#dBottom {
	margin-bottom: 34px;
}

@media screen and (max-width: 800px) {
	.sidebar {
		display: none;
	}
	.content {
		left: 0;
		width: 100%;
	}
}